@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #18a2d9;
  --white: #ffffff;
  --fieldblack: #1c2530;
  --red: #eb5757;
  --graylight: #cdd7e3;
  --darkblack: #131722;
  --yellow: #f2c94c;
  --graydark: #2a3441;
  --green: #6fcf97;
  --orange: #f2994a;
  --gray: #718298;
}
.checkboxes {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid var(--gray);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.checkboxes:checked {
  appearance: auto;
  clip-path: circle(50% at 50% 50%);
  accent-color: var(--primary);
}

input[type='text']:focus {
  outline: 2px solid var(--gray);
}
input[type='text']:-webkit-autofill,
input[type='text']:-webkit-autofill:hover,
input[type='text']:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px var(--graydark) inset;
  transition: background-color 5000s ease-in-out 0s;
  border: none;
}
input[type='email']:focus {
  outline: 2px solid var(--gray);
}
input[type='email']:-webkit-autofill,
input[type='email']:-webkit-autofill:hover,
input[type='email']:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px var(--graydark) inset;
  transition: background-color 5000s ease-in-out 0s;
  border: none;
}
.dropcontent {
  display: none !important;
  position: absolute !important;
  z-index: 1 !important;
}

.productsdropcontent {
  display: none !important;
  position: absolute !important;
  z-index: 1 !important;
}

.show {
  display: block !important;
}

.slider .prev-arrow {
  bottom: -80px;
  left: 85%;
  display: inline-block;
  position: absolute;
}

.slider .next-arrow {
  bottom: -80px;
  left: 90%;
  display: inline-block;
  position: absolute;
}
.prev-arrow2 {
  bottom: -80px;
  left: 80%;
  display: inline-block;
  position: absolute;
}

.next-arrow2 {
  bottom: -80px;
  left: 84%;
  display: inline-block;
  position: absolute;
}
[contentEditable='true']:empty:before {
  content: attr(placeholder);
  opacity: 0.6;
}

@media screen and (max-width: 768px) {
  .dropcontent {
    position: relative !important;
  }
  .productsdropcontent {
    position: relative !important;
  }
  .slider .prev-arrow {
    bottom: -80px;
    left: 70%;
    display: inline-block;
    position: absolute;
  }

  .slider .next-arrow {
    bottom: -80px;
    left: 85%;
    display: inline-block;
    position: absolute;
  }
  .prev-arrow2 {
    bottom: -80px;
    left: 70%;
    display: inline-block;
    position: absolute;
  }

  .next-arrow2 {
    bottom: -80px;
    left: 85%;
    display: inline-block;
    position: absolute;
  }
}

@media screen and (min-width: 1920px) {
  #dragon-hero {
    transform: translate(250%, -80%);
  }
}

@media screen and (min-width: 2560px) {
  #dragon-hero {
    transform: translate(340%, -80%);
  }
}

.embedeed-newsletter {
  margin-top: 30px !important;
}
