@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #18a2d9;
  --white: #ffffff;
  --fieldblack: #1c2530;
  --red: #eb5757;
  --graylight: #cdd7e3;
  --darkblack: #131722;
  --yellow: #f2c94c;
  --graydark: #2a3441;
  --green: #6fcf97;
  --orange: #f2994a;
  --gray: #718298;
}
.dropcontent {
  display: none !important;
  position: absolute !important;
  z-index: 1 !important;
}

.show {
  display: block !important;
}

.bgcontain {
  background-size: 100% 20% !important;
}

@media screen and (max-width: 768px) {
  .dropcontent {
    position: relative !important;
  }
}
